[color-scheme=light] {
  --lighter-bg: #ffffff;
  --bg-color: #fafafa;


  --action-blue: #40a9ff;

  --text-color: #2c3e50;
  --input-color: #ececec;
  --border-color: #e0dddd;

  --default-message-bg: #ffffff;
  --light-message-bg: #dfe9f3;
}
