@import './dark';
@import './light';


:root {
  --space-xxs: 8px;
  --space-xs: 12px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 36px;

  --fs-xxs: 8px;
  --fs-xs: 12px;
  --fs-sm: 16px;
  --fs-md: 24px;
  --fs-lg: 32px;
  --fs-xl: 36px;
}

.ant-notification-notice {
  background-color: var(--lighter-bg);
}

.ant-notification-notice-message,
.ant-notification-notice-description {
  color: var(--text-color);
}

.ant-notification-close-icon {
  color: var(--text-color);
}
